.wpb_vc_new_button .vc_element-icon,
.wpb_vc_blockquote .vc_element-icon,
.wpb_vc_banner .vc_element-icon,
.wpb_vc_icon_banner .vc_element-icon,
.wpb_vc_module .vc_element-icon,
.wpb_vc_widget .vc_element-icon,
.wpb_vc_lpd_header .vc_element-icon,
.wpb_vc_mega_header .vc_element-icon,
.wpb_vc_mega_header2 .vc_element-icon,
.wpb_vc_icon_separator .vc_element-icon,
.wpb_vc_working_hours .vc_element-icon,
.wpb_vc_team_widget .vc_element-icon,
.wpb_vc_testimonial .vc_element-icon,
.wpb_vc_bullet_list .vc_element-icon,
.wpb_vc_add_shortcode .vc_element-icon,
.wpb_vc_intro_container .vc_element-icon,
.wpb_vc_multi_slider .vc_element-icon,
.wpb_vc_woo_carousel_products .vc_element-icon,
.wpb_vc_woo_carousel_featured_products .vc_element-icon,
.wpb_vc_woo_carousel_recent_products .vc_element-icon,
.wpb_vc_woo_carousel_product_categories .vc_element-icon,
.wpb_vc_woo_carousel_product_category .vc_element-icon,
.wpb_vc_category_container .vc_element-icon{
	background: url(vc_extend_lpd-logo.png) white no-repeat;
}

.wpb_vc_new_button .wpb_element_wrapper div,
.wpb_vc_blockquote .wpb_element_wrapper div,
.wpb_vc_banner .wpb_element_wrapper div,
.wpb_vc_icon_banner .wpb_element_wrapper div,
.wpb_vc_module .wpb_element_wrapper div,
.wpb_vc_widget .wpb_element_wrapper div,
.wpb_vc_lpd_header .wpb_element_wrapper div,
.wpb_vc_mega_header .wpb_element_wrapper div,
.wpb_vc_mega_header2 .wpb_element_wrapper div,
.wpb_vc_icon_separator .wpb_element_wrapper div,
.wpb_vc_working_hours .wpb_element_wrapper div,
.wpb_vc_team_widget .wpb_element_wrapper div,
.wpb_vc_testimonial .wpb_element_wrapper div,
.wpb_vc_bullet_list .wpb_element_wrapper div,
.wpb_vc_add_shortcode .wpb_element_wrapper div,
.wpb_vc_intro_container > .wpb_element_wrapper > div.wpb_vc_param_value,
.wpb_vc_multi_slider .wpb_element_wrapper div,
.wpb_vc_woo_carousel_products .wpb_element_wrapper div,
.wpb_vc_woo_carousel_featured_products .wpb_element_wrapper div,
.wpb_vc_woo_carousel_recent_products .wpb_element_wrapper div,
.wpb_vc_woo_carousel_product_categories .wpb_element_wrapper div,
.wpb_vc_woo_carousel_product_category .wpb_element_wrapper div,
.wpb_vc_category_container .wpb_element_wrapper div{
	display: none;
}
.wpb_vc_testimonial .wpb_element_wrapper div.title,
.wpb_vc_module .wpb_element_wrapper div.title,
.wpb_vc_widget .wpb_element_wrapper div.title,
.wpb_vc_blockquote .wpb_element_wrapper div.cite,
.wpb_vc_new_button .wpb_element_wrapper div.text{
	display: block;
}
.wpb-elements-list-modal .vc_element-icon.icon-wpb-lpd{
	background: url(vc_extend_lpd-logo.png) no-repeat center;
}
.wpb_element_wrapper .textarea{
    border: none;
    font-family: inherit;
    line-height: inherit;
    padding: 0;
    width: auto;
}
